.dws-menu * {
    margin: 0;
    padding: 0;

}

.dws-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dws-menu ul,
.dws-menu ol {
    list-style: none;
}

.dws-menu > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dws-menu > ul > li {
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    padding-left: 6px;
    padding-right: 6px;

    &:hover {
        background: #1B3764;

    }

    &.parent-menu-item {
        &:hover {
            > a {
                color: var(--buttons_blocks, #FFE358);

            }
        }
    }

    > ul {
        column-count: 3;
        width: 100%;
        left: 0;
        z-index: 99;
        padding-left: 45px;
        padding-right: 45px;
        top: 100%;

        li {
            padding: 15px 6px;
            flex: 0 0 33%;
        }
    }
}


.dws-menu > ul li a {
    display: block;
    color: var(--white, #FFF);

    /* body */
    font-family: Proba Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-left: 0;
}

.dws-menu > li:hover a.nav-link {
    color: var(--buttons_blocks, #FFE358);
}

/*sub menu*/
.dws-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
    background: #1B3764;
    width: 100%;

}

.dws-menu li > ul li > ul {
    position: absolute;
    right: auto;
    left: 0;
    //display: flex;
    top: auto;
    justify-content: space-between;
}

.dws-menu li:hover > ul {
    display: flex;
    flex-wrap: wrap;
}
.ml-stack-nav{
    display: none;

}
.dws-menu [type="checkbox"],
.dws-menu label.toggleSubmenu {
    display: none;
}

.ml-stack-nav-toggle {
    display: none !important;

}

@media all and (max-width: 1024px) {
    .dws-menu {
        display: none;
    }
    .ml-stack-nav-toggle {
        display: block !important;
        &:focus, &:active{
            border: none!important;
            outline: none!important;
            box-shadow: none!important;
        }
    }
    .ml-stack-nav {
        top: 72px;
    }
    .top-header {
        padding-left: 0;
        padding-right: 0;
    }

    .ml-stack-nav {

        &.is-open {
            position: fixed!important;
            top: 0 !important;
            display: block;
height: 100vh;
            ul.ml-stack-nav__menu{
              padding-top: 0!important;
                div.ml-stack-nav__menu{
                    padding-top: 0!important;

                }
            }
        }

        &.is-open.is-active {
            position: absolute!important;
            height: calc(100vh - 72px);
            top:0px !important;
        }
    }
    div.ml-stack-nav__menu{
        position: fixed!important;
        background: #1B3764 !important;
        border: none !important;
        left: 0;
        padding: 0 !important;
    }
    .ml-stack-nav__menu {
        background: #1B3764 !important;
        border: none !important;
        left: 0;
        padding: 0 !important;
        .sub-menu {
            padding: 0 !important;

                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
list-style-type: none;
                > li {
                    flex: 0 0 49%;
                    a{
                        color: var(--white, #FFF);

                        /* body */
                        font-family: Proba Pro;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                    }

                    padding: 20px;
                    &.ml-stack-nav__item.back_menu_item{
                        flex: 0 0 100%!important;
                    }

                }
            }

    }
    .ml-stack-nav-toggle__line {
        background: rgba(171, 190, 219, 1) !important;
        height: 2px !important;
        width: 20px !important;
    }
    .ml-stack-nav__next {
        border: none !important;
        background: #1B3764 !important;
    }
    .ml-stack-nav__item {
        .ml-stack-nav__back {
            background: transparent !important;
            border: none !important;
            padding: 0 !important;
            color: var(--white, #FFF) !important;

            /* body */
            font-family: Proba Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            display: flex;
            align-items: center;
        }

        &.back_menu_item {
            display: flex;
            align-items: center;
            background: radial-gradient(160.21% 945% at 50% 50%, #254E8F 0%, #1B3B64 100%), #FFF;
            padding: 23px 27px;
            color: var(--white, #FFF) !important;

            /* body */
            font-family: Proba Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin-bottom: 20px;
            flex: 0 0 100%;
            height: auto;
            max-height: 70px;

            .ml-stack-nav-toggle {
                margin-left: auto;
            }
        }

        svg {
            margin-right: 20px;
        }
    }
    .ml-stack-nav__link {
        color: var(--white, #FFF) !important;

        /* body */
        font-family: Proba Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        border: none !important;
    }
    .ml-stack-nav-toggle.is-active .ml-stack-nav-toggle__line:nth-child(1) {
        display: none;
    }

    .left-top-header {
        padding-left: 20px
    }
    .is-open > .ml-stack-nav__menu {
        display: flex;
        flex-flow: column;
        padding-top: 20px!important;
    }
    .ml-stack-nav__next {
        svg {
            transform: rotate(-90deg);
        }
    }
    header .header-menu {
        position: absolute;
        left: 0;
        top: 72px;
        z-index: 99;
    }
    header .visual-impairment{
        display: none;
    }
}

@media all and (max-width: 992px) {
    //.ml-stack-nav.is-open.is-active{
    //    top: 72px!important;
    //}
    .dws-menu {
        overflow: hidden;

    }
}
@media all and (max-width: 560px) {
    .ml-stack-nav__menu .sub-menu > li{
        flex: 0 0 100%;
    }
}
