.scrollup{
    position: absolute;
    right: 45px;
    top: -115px;
    z-index: 99;
}


footer{
    .container{
        background: #ffffff;
        border-top: 1px solid var(--border_and_disabled, #C2C5CB);
        padding: 22px 45px 22px 45px;

        display: flex;
        flex-flow: row;
        gap: 80px;
        justify-content: space-between;
        .foot-left{
            p{
                margin: 0;
                color: var(--secondary_text, #6D727C);

                /* body */
                font-family: Proba Pro Lt,sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
            }
        }
        .footer-links{
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            width: auto;
            max-width: max-content;
            grid-column: 1;
            grid-row: span 2;
            a:first-child{
                margin-right: 20px;
            }
        }
        .foot-rights{
            width: 100%;
            max-width: max-content;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto;
column-gap: 80px;
            span{
                color: var(--secondary_text, #6D727C);

                /* body */
                font-family: Proba Pro Lt, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
            grid-row: 1;
                grid-column: 2;
            }
            a{
                grid-row: 2;
                grid-column: 2;

                text-decoration: none;
                color: var(--primary, #2D5CA6);

                /* body */
                font-family: Proba Pro Lt, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }

    }
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {
footer .container{
    gap: 40px;
    padding-left: 27px;
    padding-right: 27px;
.foot-rights{
  grid-template-columns: 1fr;

    .footer-links{
        grid-column: 1;
        grid-row: 1;
        margin-left: auto;
        margin-right: auto;
    }
    span{
        grid-column: 1;
        grid-row: 2;

    }
    a{
        grid-column: 1;
        grid-row: 3!important;
    }
}
}
}
@media screen and (max-width: 600px) {
    footer .container{
        gap: 40px;
        padding-left: 15px;
        padding-right: 15px;
        flex-wrap: wrap;
        .foot-left{
flex: 0 0 100%;
    }

        .foot-rights{
            max-width: 100%;
            grid-template-columns: 1fr auto auto;
            column-gap: 10px;
            .footer-links{
                grid-column: 1;
                grid-row: 1;
                margin-left: 0;
                margin-right: auto;
                justify-self: start; /* вирівнювання першої колонки зліва */

            }
            span{
                grid-column: 2;
                grid-row: 1;
                justify-self: end; /* вирівнювання інших колонок справа */

            }
            a{
                grid-column: 3;
                grid-row: 1!important;
                justify-self: end; /* вирівнювання інших колонок справа */

            }
        }
    }
}
@media screen and (max-width: 375px) {
    footer .container{

        .foot-rights{
            max-width: 100%;
            grid-template-columns: 1fr auto;
            column-gap: 10px;
            .footer-links{
                grid-column: 1;
                grid-row: span 2;
                margin-left: 0;
                margin-right: auto;
                justify-self: start; /* вирівнювання першої колонки зліва */

            }
            span{
                grid-column: 2;
                grid-row: 1;
                justify-self: end; /* вирівнювання інших колонок справа */

            }
            a{
                grid-column: 2;
                grid-row: 2!important;
                justify-self: end; /* вирівнювання інших колонок справа */

            }
        }
    }
}
